@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .zoom-image [data-rmiz-modal-overlay="visible"] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

html,
body,
#__next,
main {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

.from-background {
  --tw-gradient-from: hsl(var(--background)) var(--tw-gradient-from-position);
}

@property --gradient-angle {
  syntax: "<angle>"; /* <- defined as type angle for the transition to work */
  initial-value: 360deg;
  inherits: false;
}

/* overrides silly annoying shadcn default */
/* it doesn't transition shadows by default */
.shadcnoverridetransition {
  transition: all 0.3s ease !important;
}
.shadcnoverridetransition:active {
  transition: all 0.075s ease !important;
}
.hero-join-button {
  background: linear-gradient(
    var(--gradient-angle),
    hsla(211, 60%, 48%, 0.7),
    hsla(211, 60%, 48%, 0.3),
    #3178c6,
    hsla(211, 60%, 48%, 0.5)
  );
  animation: gradient-rotate 5s linear infinite reverse;
}

.hero-join-button-dark {
  background: linear-gradient(
    var(--gradient-angle),
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0.1),
    #fff,
    hsla(0, 0%, 100%, 0.3)
  ) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

@keyframes bg-to-center {
  to {
    background-position: center;
  }
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 360deg;
  }

  100% {
    --gradient-angle: 0deg;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  50% {
    opacity: 1;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fancy-border-gradient::before {
  inset: 0;
  content: "";
  --angle: 0deg;
  position: absolute;
  border-radius: inherit;
  padding: 1.5px; /* control the border thickness */
  background: conic-gradient(
    from var(--angle),
    #3178c622,
    #3178c644 35%,
    #3178c688 39%,
    #3178c6,
    #3178c688 61%,
    #3178c644 65%,
    #3178c622
  );
  -webkit-mask-composite: xor;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  animation: 3s rotate linear infinite;
  mask-composite: exclude;
  pointer-events: none;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
::-webkit-scrollbar-track {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #a855f7,
    #3178c6,
    #b51d1d,
    #3178c6,
    #a855f7,
    #3178c6,
    #b51d1d
  );
  background-size: 300% 300%;
  background-clip: text;
}

.gradient-border-left {
  border-radius: 2rem;
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    white,
    rgb(37, 36, 38),
    rgb(233, 219, 237)
  );
  border-image-slice: 1;
  border-image-width: 1 0 1 1;
}
.gradient-border-right {
  border-radius: 2rem;
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    white,
    rgb(37, 36, 38),
    rgb(233, 219, 237)
  );
  border-image-slice: 1;
  border-image-width: 1 1 1 0;
}
